@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Async Demo</h1>
    <p><a href="https://dotnet.microsoft.com/download/dotnet/7.0">Running on Net 7 </a>.</p>
    <p>An <a href="http://Asp.Net/" class="" rel="noopener noreferrer" target="_blank" mlp="3">Asp.Net</a> MVC Application to demonstrate multiple ways of implementing async calls to REST services</p>
</div>