<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1e3f18e4-ceb9-4033-8ce0-f17b8af6225f/resourceGroups/MwhSampleLinux/providers/Microsoft.Web/sites/AsyncDemoWeb</ResourceId>
    <ResourceGroup>MwhSampleLinux</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://asyncdemoweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f5cee012-a665-41ac-ae39-7cbe8543934b</ProjectGuid>
    <PublishUrl>https://asyncdemoweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AsyncDemoWeb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>