<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Ensure UTF-8 encoding for all responses -->
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
    </staticContent>
    
    <!-- HTTP Response Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Content-Type" value="text/html; charset=utf-8" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Globalization settings -->
    <globalization 
      requestEncoding="utf-8" 
      responseEncoding="utf-8" 
      fileEncoding="utf-8" 
      culture="auto" 
      uiCulture="auto" />
  </system.webServer>
  
  <system.web>
    <!-- Ensure UTF-8 encoding for ASP.NET -->
    <globalization 
      requestEncoding="utf-8" 
      responseEncoding="utf-8" 
      fileEncoding="utf-8" 
      culture="auto" 
      uiCulture="auto" 
      enableClientBasedCulture="true" />
  </system.web>
</configuration>
